

<h1 class="text-4xl font-bold text-center mb-6"> <%= pluralize(@users.size, "User") %> </h1>
<ul class='users space-y-4'>
    <% @users.each do |user| %>
        <li class="border p-4 rounded-md shadow-lg">
            <%= link_to user.name, user, class: "text-blue-600 hover:underline font-semibold" %>
            created
            <span class="text-gray-600"><%= time_ago_in_words(user.created_at) %> ago</span>
        </li>
    <%end%>
</ul>

